/* /static/main.css */

/* 画面全体 */
body {
    font-family: "メイリオ", sans-serif;
    margin: 0;
    padding: 40px 0;
    background: #f3f4f6;

    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    /* 上揃え */
}

p {
    text-align: center;
}

/* カードデザイン */
.container {
    background: white;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(111, 111, 111, 0.1);
    /* text-align: center; */
    width: 90%;
    max-width: 1080px;

    display: flex;
    /* align-items: center; */
    /* 中央寄せ */
    gap: 50px;
    /* 余白 */
}

.img-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    vertical-align: middle;
    /* ボタン内で縦中央揃え */
    margin-right: 8px;
    /* 文字との間にスペース */
}

/* タイトル */
h1 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #333;
    letter-spacing: 0.3em;
    text-align: center;
}

.flex-sendBox {
    width: 60%;
    align-self: center;
}

/* 入力欄とボタン */
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
    /* 縦の高さを可変式にする */
    field-sizing: content;
    /* 半角入力の時に横幅を伸ばさないようにする */
    overflow-wrap: anywhere;
}

.edit-buttons {
    text-align: center;
}

/* ボタン */
.edit-buttons button {
    width: 60%;
    padding: 12px;
    background: #d55454;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
    text-align: center;
}

button:hover {
    background: #9c3535;
}

.btn-send {
    width: 40%;
    padding: 12px;
    background: #5481d5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 10px;
    /* text-align: center; */
    display: block;
    margin: auto;
}

.btn-send:hover {
    background: #375b9e;
}

/* 結果表示 */
#result {
    margin-top: 20px;
    font-weight: bold;
    color: #374151;
}

/* 下部ひらがなボタンの全体配置 */
.kana-container {
    margin-top: 30px;
    width: 100%;
}

/* ボタンのグリッドレイアウト*/
/* .kana-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
} */

/* ひらがなボタンデザイン */
.kana-btn {
    padding: 12px;
    font-size: 18px;
    background: #e5e7eb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.kana-btn:hover {
    background: #d1d5db;
}

.kana-btn:active {
    background: #9ca3af;
}

/* タブ全体 */
.input-panel {
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    /* スクロール */
    padding-bottom: 20px;
    /* border-top: 1px solid #e5e7eb; */
}

/* タブボタン */
.tabs {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
}

.tab-btn {
    flex: 1;
    /* 横幅を均等にする */
    height: 40px;
    /* ★高さを統一 */
    display: flex;
    align-items: center;
    /* テキストを縦中央揃え */
    justify-content: center;
    /* 横中央揃え */
    font-size: 16px;
    border: none;
    background: #e0e0e0;
    cursor: pointer;
    border-radius: 6px;
}

.tab-btn.active {
    background: #4a90e2;
    color: #fff;
}

.tab-btn:hover {
    background: #375b9e;
    color: #fff;
}

#tab-sulkySound button{
    font-size: 1.2em;
}

/* #inputText {
    pointer-events: none;
} */

/* コンテンツの切り替え */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* 文字ボタンのグリッド */
.kana-grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    /* grid-template-columns: repeat(auto-fill, minmax(55px, 1fr)); */
    gap: 8px;
    padding: 5px 0 20px 0;
    /* 内側余白調整 */
}

/* グリッドの共通設定 */
.alpha-grid {
    display: grid;
    gap: 8px;
    padding: 5px 0 20px 0;
    /* justify-content: stretch; */
}

/* 数字：10列均等 */
/* #tab-number .alpha-grid { */
/* grid-template-rows: repeat(10, 1fr); */
/* } */

/* 英字：7列均等（文字幅を無視して7等分） */
/* #tab-alpha .alpha-grid { */
/* grid-template-rows: repeat(7, 1fr); */
/* } */

/* 記号：6列均等 */
/* #tab-symbol .alpha-grid { */
/* grid-template-rows: repeat(6, 1fr); */
/* } */

.layout-grid button {
    padding: 12px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background: #f3f4f6;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.layout-grid button:hover {
    background: #e5e7eb;
}

.kana-row {
    display: flex;
    gap: 4px;
    margin-bottom: 6px;
    flex-direction: column
}

.kana-row button {
    padding: 6px 10px;
}

.alpha-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    margin-bottom: 6px;
    flex-direction: row;
}

.alpha-row button {
    padding: 30px 10px;
}

/* ダイアログデザイン */
dialog {
    border: none;
    /* width: 70%;
    height: 50%; */
    padding: 100px 200px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    /* モーダル背景 */
    background: white;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}